---
import logo from '../assets/logo_brasil_serv.svg'
---
<footer class=" w-full bg-secundary text-backwhite">
    <section class="flex flex-col gap-12 mx-5 py-12">
        <div class="flex flex-col items-center gap-12">
            <img class=" w-[169px] h-[86px]" src={logo.src} alt="brasilserv logo">
            <ul class="flex flex-col gap-4 text-center">
                <li>
                    <a href="">Início</a>
                </li>
                <li>
                    <a href="">Benefícios</a>
                </li>
                <li>
                    <a href="">Serviços</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
                <li>
                    <a href="">Contato</a>
                </li>
            </ul>
            <div class="flex flex-col items-center gap-3">
                <div class=" w-[335px] h-0.5 bg-backwhite"></div>
                <p class="text-sm">© 2025 Sermec. Todos os direitos reservados.</p>
            </div>
        </div>
        <div></div>
    </section>
</footer>